
@model DBAccessResourceServer.Models.DbModel

@{
    ViewBag.Title = "SaveContent";
}

<h2>SaveContent</h2>

@using (Html.BeginForm("dbsaveresult", "dbsave", FormMethod.Get))
{
    @Html.TextAreaFor(item => item.data, new { placeholder = "Tekst" })
    <br />    
  
    
    <input type="Submit" value="Send"/>
}