
@model DBAccessResourceServer.Models.DbModel

@{
    ViewBag.Title = "SaveContent";
}

<h2>SaveContent</h2>

@using (Html.BeginForm("dbsaveresult", "dbsave", FormMethod.Post))
{
    @Html.TextAreaFor(item => item.data, new { placeholder = "Tekst", style="width: 90%;max-width: 90%;height: 25%;" })
    <br />    
  
    
    <input type="Submit" value="Send"/>
}