
@model IEnumerable<Toci.CryptingApi.Models.BodyModel>

@{
    ViewBag.Title = "Load";
}

<h2>Loaded records:</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Data</th>
            <th>Name</th>
            <th>Adding Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.data</td>
                <td>@item.name</td>
                <td>@item.addingTime</td>
            </tr>
        }
    </tbody>
</table>