@using Microsoft.Ajax.Utilities
@using Phoenix.Front.Controllers


<div>
    <h1>
        Hejka
    </h1>
</div>


<p>
    @using (Html.BeginForm("PostTesting", "TeamLeasing", FormMethod.Post))
    {
        @Html.Label("podaj nazwę: ");
        @Html.TextBox("Nazwa");

        <input class="button" id="submit" type="submit" value="Submit" />
    }
        


    
   
</p>
