@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><center>Toci digital signature provider</center></h1>
</div>

<div class="row">


    <div class="col-md-12">
        <h2><center>Sign something with pfx certyficate file</center>
        </h2>
    </div>
</div>