
@model List<DBAccessResourceServer.Models.DbModel>

@foreach (var item in Model)
    {
        <div>
            <input type="submit" value="Edit" />
            <input type="submit" value="Delete" /><br/>
            @Html.Label(item.data)<br/>
            @Html.Label(item.nick)<br/>
            @Html.Label(item.addingTime.ToString())<br/>
            <hr/>

        </div>
    }