
@model List<DBAccessResourceServer.Models.DbModel>


@{
    ViewBag.Title = "LoadContent";
}

<h2>Loaded!</h2>

@using (Html.BeginForm("Index", "DbHub", FormMethod.Get))
{
    foreach (var item in Model)
    {
        <div>
        @Html.Label(item.data)<br/>
        @Html.Label(item.nick)<br/>
        @Html.Label(item.addingTime.ToString())<br/>
        <hr/>
        </div>
    }


    <input type="Submit" value="Wroć" />
}