
@{
    ViewBag.Title = "Choose your destiny";
}

<h2>Index</h2>
@using (Html.BeginForm("savecontent", "SaveDbContent", FormMethod.Get))
{
    <input type="Submit" value="Save to Db" />
}
<br/>
@using (Html.BeginForm("loadcontent", "ReadDbContent", FormMethod.Get))
{
    <input type="Submit" value="Load Db Log" />
}
