.page-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background: #333;
}

.container {
	background: #dfdfdf;
	height: 100%;
}

.task-content, .code-editor {
	background: #f5f5f5;
	margin: 1em;
	height: 100%;
}