
<div class="row grayBackgroung">
<h3>Oferujemy:</h3>
        <ul>
            <li>intensywny darmowy kurs przygotowujący do pracy programisty,</li>
            <li>dla najlepszych płatne staże oraz pracę, w technologii Meteor</li>
            <li>opracowanie ścieżki indywidualnego rozwoju zawodowego</li>
        </ul>
        <h3>Oczekujemy:</h3>
        <ul>
            <li>determinacji, pracowitości, ambicji i sumienności,</li>
            <li>podstawowej wiedzy z obszaru tworzenia aplikacji internetowych w zakresie technologii HTML, CSS, oraz dobrej znajomości jednego wybranego języka programowania</li>
            <li>co najmniej podstawowej umiejętności komunikacji w języku angielskim</li>
        </ul>

    </div>

</div>


    <div class="row" style="text-align: center; ">
      <div class="grayerBackgroung">
        <h2>KODUJ W <span style="color:green">JAVASCRIPT</span>, ROZPOCZNIJ SWOJĄ PRZYGODĘ Z <span style="color:green">METEOREM!</span></h2>
	  </div>
    </div>
