<div class="row" id="title">
    <div class="col-sm-8">
    </div>
    <div class="col-sm-4">
        <h2>O kursie</h2>
    </div>
</div>
<div class="row grayBackgroung">

    <div class="col-xs-12">
        Pasjonujesz się najnowszymi technologiami IT? Chciałbyś dowiedzieć się jak pracuje programista w profesjonalnym zespole? A może już programujesz ale interesuje Cię inwestycja w technologię o wzrastającej popularności i popycie na rynku pracy?
        Ta oferta jest dla Ciebie!
    </div>
</div>
<div class="row whiteBackground">
<div class="row">
    <div class="col-md-6">
		<div class="image-container">
			<img src="dane/javascript-logo.jpg">
		</div>
    </div>

    <div class="col-md-6">
		<div class="image-container">
			<img src="dane/meteor-logo.jpg">
		</div>
    </div>

</div>
</div>
<div class="row grayBackgroung">
    <div class="col-xs-6">
        <div class="image-container">

            <h3>JavaScript</h3>
            <ul>
                <li>najczęściej stosowany język webowy</li>
                <li>odskocznia do AngularJS, Backbone, Ember, Meteor</li>
                <li>pracuj na front-end oraz back-end</li>
            </ul>
            <h4>Zalety:</h4>
            <ul>
                <li>poznaj ten szeroko używany język</li>
                <li>powtórz sobie standardy, uporządkuj wiedzę</li>
            </ul>
            <br/>
            <a class="btn btn-success" href="https://docs.google.com/document/d/1T5TUKZe_htNUfvXrzXByVjLTT-DH55oE2RE1CL1Ijj8/edit">AGENDA</a>
        </div>
    </div>

    <div col-xs-6>
        <p>Firma Vazco we współpracy z Bartłomiejem Zapart uruchamia darmowe szkolenie z JavaScript i Meteor JS dla osób z Wrocławia i okolic lub chętnych do relokacji, połączone z ofertą staży oraz pracy w firmie Vazco dla osób, które ończą szkolenie i przejdą rekrutację.</p><br>
    <br/> <button class="btn btn-success" onclick="About2Click()">Czytaj dalej</button> 
	
	</div>
	</div>
	
