

        <div class="row grayBackgroung">

    <div class="col-sm-offset-9 col-sm-3">
        <h1>O KURSIE</h1>
    </div>
</div>
        <div class="row grayBackgroung">
            <div class="col-sm-12">
                <p class="centeredText">
                    Pasjonujesz siê najnowszymi technologiami IT? Chcia³byœ dowiedzieæ siê jak pracuje programista w profesjonalnym zespole? A mo¿e ju¿ programujesz ale interesuje Ciê inwestycja w technologiê o wzrastaj¹cej popularnoœci i popycie na rynku pracy?
                    Ta oferta jest dla Ciebie!
                </p>
           
            </div>
        </div>


<div class="row">
    <div class="col-sm-6">
        <div class="image-container">
            <img src="dane/javascript-logo.jpg">


            <h3>JavaScript</h3>
            <ul>
                <li>najczêœciej stosowany jêzyk webowy</li>
                <li>odskocznia do AngularJS, Backbone, Ember, Meteor</li>
                <li>pracuj na front-end oraz back-end</li>
            </ul>
            <h4>Zalety:</h4>
            <ul>
                <li>poznaj ten szeroko u¿ywany jêzyk</li>
                <li>powtórz sobie standardy, uporz¹dkuj wiedzê</li><
            </ul>
            <br/>
            <a class="btn btn-success" href="https://docs.google.com/document/d/1T5TUKZe_htNUfvXrzXByVjLTT-DH55oE2RE1CL1Ijj8/edit">AGENDA</a>
        </div>
    </div>
    <div class="col-sm-offset-6">
        <div class="image-container">
            <img src="dane/meteor-logo.jpg">


            <h3>METEOR JS</h3>
            <ul>
                <li>super nowoczesna technologia</li>
                <li>rozwi¹zanie full-stack</li>
                <li>komunikacja real-time</li>
                <li>reaktywnoœæ, responsywnoœæ</li>
            </ul>
            <h4>Zalety:</h4>
            <ul>
                <li>zdob¹dŸ doœwiadczenie w szybko rozwijaj¹cej siê technologii</li>
                <li>twórz super-nowoczesne projekty i aplikacje mobilne</li>
                <li>u¿ywaj opcji niedostêpnych gdzie indziej - reaktywne kodowanie bez API</li>
                <li>do³¹cz do œwiatowej czo³ówki technologii</li>
            </ul>



            <br/>
            <a class="btn btn-success" href="https://docs.google.com/document/d/1T5TUKZe_htNUfvXrzXByVjLTT-DH55oE2RE1CL1Ijj8/edit">AGENDA</a>
        </div>
    </div>
</div>
<br/>
<div class="row" style="text-align: center; ">
    <p>Firma Vazco we wspó³pracy z Bart³omiejem Zapart uruchamia darmowe szkolenie z JavaScript i Meteor JS dla osób z Wroc³awia i okolic lub chêtnych do relokacji, po³¹czone z ofert¹ sta¿y oraz pracy w firmie Vazco dla osób, które oñcz¹ szkolenie i przejd¹ rekrutacjê.</p><br>
    <h3>Oferujemy:</h3>
    <ul>
        <li>intensywny darmowy kurs przygotowuj¹cy do pracy programisty,</li>
        <li>dla najlepszych p³atne sta¿e oraz pracê, w technologii Meteor</li>
        <li>opracowanie œcie¿ki indywidualnego rozwoju zawodowego</li>
    </ul>
    <h3>Oczekujemy:</h3>
    <ul>
        <li>determinacji, pracowitoœci, ambicji i sumiennoœci,</li>
        <li>podstawowej wiedzy z obszaru tworzenia aplikacji internetowych w zakresie technologii HTML, CSS, oraz dobrej znajomoœci jednego wybranego jêzyka programowania</li>
        <li>co najmniej podstawowej umiejêtnoœci komunikacji w jêzyku angielskim</li>
    </ul>

    <h2>KODUJ W <span style="color:green">JAVASCRIPT</span>, ROZPOCZNIJ SWOJ¥ PRZYGODÊ Z <span style="color:green">METEOREM!</span></h2>
</div>

