<div class="row" id="title">
    <div class="col-sm-8">
    </div>
    <div class="col-sm-4">
        <h2>O kursie</h2>
    </div>
</div>
<div class="row grayBackgroung">

    <div class-col-xs-12>
        Pasjonujesz się najnowszymi technologiami IT? Chciałbyś dowiedzieć się jak pracuje programista w profesjonalnym zespole? A może już programujesz ale interesuje Cię inwestycja w technologię o wzrastającej popularności i popycie na rynku pracy?
        Ta oferta jest dla Ciebie!
    </div>
</div>
<div class="row whiteBackground">
    <div class="col-xs-6">
        <img style="display: block; margin: 0 auto;" src="dane/javascript-logo.jpg">
    </div>


    <div class="col-xs-6">
        <img style="display: block; margin: 0 auto;" src="dane/meteor-logo.jpg">
    </div>

</div>
<div class="row grayBackgroung">
    <div class="col-xs-6">
        <div class="image-container">



            <h3>JavaScript</h3>
            <ul>
                <li>najczęściej stosowany język webowy</li>
                <li>odskocznia do AngularJS, Backbone, Ember, Meteor</li>
                <li>pracuj na front-end oraz back-end</li>
            </ul>
            <h4>Zalety:</h4>
            <ul>
                <li>poznaj ten szeroko używany język</li>
                <li>powtórz sobie standardy, uporządkuj wiedzę</li><
            </ul>
            <br/>
            <a class="btn btn-success" href="https://docs.google.com/document/d/1T5TUKZe_htNUfvXrzXByVjLTT-DH55oE2RE1CL1Ijj8/edit">AGENDA</a>
        </div>
    </div>

    <div col-xs-6>
        <p>Firma Vazco we współpracy z Bartłomiejem Zapart uruchamia darmowe szkolenie z JavaScript i Meteor JS dla osób z Wrocławia i okolic lub chętnych do relokacji, połączone z ofertą staży oraz pracy w firmie Vazco dla osób, które ończą szkolenie i przejdą rekrutację.</p><br>
        <h3>Oferujemy:</h3>
        <ul>
            <li>intensywny darmowy kurs przygotowujący do pracy programisty,</li>
            <li>dla najlepszych płatne staże oraz pracę, w technologii Meteor</li>
            <li>opracowanie ścieżki indywidualnego rozwoju zawodowego</li>
        </ul>
        <h3>Oczekujemy:</h3>
        <ul>
            <li>determinacji, pracowitości, ambicji i sumienności,</li>
            <li>podstawowej wiedzy z obszaru tworzenia aplikacji internetowych w zakresie technologii HTML, CSS, oraz dobrej znajomości jednego wybranego języka programowania</li>
            <li>co najmniej podstawowej umiejętności komunikacji w języku angielskim</li>
        </ul>

    </div>

</div>


    <div class="row" style="text-align: center; ">
      

        <h2>KODUJ W <span style="color:green">JAVASCRIPT</span>, ROZPOCZNIJ SWOJĄ PRZYGODĘ Z <span style="color:green">METEOREM!</span></h2>
    </div>

