
  <div class="row" id="title">
    <div class="col-sm-9">
    </div>
    <div class="col-sm-3">
        <h2>FAQ</h2>
    </div>
</div>

<div class="row">

    <div class="col-sm-12">
        <ol>
            <li>W jakich dniach odbywaæ siê bêdzie kurs?</li>
            <li>Co muszê mieæ ze sob¹ na warsztatach?</li>
            <li>Jakie doœwiadczenie muszê mieæ by aplikowaæ na kurs?</li>
            <li>Ile kosztuje kurs?</li>
            <li>Ile osób zostanie przyjêtych na kurs?</li>
            <li>Czy otrzymam zaœwiadczenie po ukoñczeniu kursu?</li>
            <li>Ile miejsc pracy oferuje firma Vazco?<br>Nawet 10 miejsc pracy w zale¿noœci od kompetencji rekrutowanych uczestników</li>
            <li>Jaki jest minimalny wymiar etatu?<br>30 godzin pracy tygodniowo, trzy czwarte etatu w przypadku sta¿u. Pe³en etat w przypadku pracy.</li>
            <li>W jakich godzinach mo¿na pracowaæ w firmie Vazco?<br>Godziny pracy s¹ elastyczne, dostosowane do indywidualnych mo¿liwoœci i ustalane wewn¹trz projektów.</li>
            <li>Jakie mo¿na uzyskaæ wynagrodzenie?<br>Stawka jest uzale¿niona od umiejêtnoœci i doœwiadczenia. W przypadku sta¿u oferujemy 2500-3500 z³ netto. W przypadku pracy oferujemy tak¿e wy¿sze stawki, zale¿nie od doœwiadczenia i umiejêtnoœci.</li>
            <li>
                Kiedy rozpoczyna³bym pracê? <br> Planowany jest termin 1 wrzeœnia 2015
            </li>
        </ol>


    </div>
</div>

