
  <div class="row" id="title">
    <div class="col-sm-9">
    </div>
    <div class="col-sm-3">
        <h2>FAQ</h2>
    </div>
</div>

<div class="row">

    <div class="col-sm-12">
        <ol>
            <li>W jakich dniach odbywać się będzie kurs?</li>
            <li>Co muszę mieć ze sobą na warsztatach?</li>
            <li>Jakie doświadczenie muszę mieć by aplikować na kurs?</li>
            <li>Ile kosztuje kurs?</li>
            <li>Ile osób zostanie przyjętych na kurs?</li>
            <li>Czy otrzymam zaświadczenie po ukończeniu kursu?</li>
            <li>Ile miejsc pracy oferuje firma Vazco?<br>Nawet 10 miejsc pracy w zależności od kompetencji rekrutowanych uczestników</li>
            <li>Jaki jest minimalny wymiar etatu?<br>30 godzin pracy tygodniowo, trzy czwarte etatu w przypadku stażu. Pełen etat w przypadku pracy.</li>
            <li>W jakich godzinach można pracować w firmie Vazco?<br>Godziny pracy są elastyczne, dostosowane do indywidualnych możliwości i ustalane wewnątrz projektów.</li>
            <li>Jakie można uzyskać wynagrodzenie?<br>Stawka jest uzależniona od umiejętności i doświadczenia. W przypadku stażu oferujemy 2500-3500 zł netto. W przypadku pracy oferujemy także wyższe stawki, zależnie od doświadczenia i umiejętności.</li>
            <li>
                Kiedy rozpoczynałbym pracę? <br> Planowany jest termin 1 września 2015
            </li>
        </ol>


    </div>
</div>

