
<div class="row" id="title">
    <div class="col-sm-8">
    </div>
    <div class="col-sm-4">
        <h2>Jak to działa?</h2>
    </div>
</div>
<div class="grayBackgroung">

    <div class="row">
        <div class="col-xs-6">
            <h3 style="color: green">ETAP I</h3>
            <h4>Javascript</h4>
        </div>
        <div class="col-xs-6">
            <h3 style="color: green">ETAP II</h3>
            <h4>Meteor JS</h4>
        </div>


    </div>

    <div class="row">
        <div class="col-xs-6">
            <p>Etap pierwszy to poznanie lub utrwalenie wiedzy o technologii JavaScript. Wykłady będą rowadzone w cyklu co 4 dni w godzinach popołudniowych po 5 godzin. Prelegentem tej części kursu jest <b>Bartłomiej Zapart</b>.
        </div>

        <div class=" col-xs-6">
            <p>Etap pierwszy to poznanie lub utrwalenie wiedzy o technologii JavaScript. Wykłady będą rowadzone w cyklu co 4 dni w godzinach popołudniowych po 5 godzin. Prelegentem tej części kursu jest <b>Bartłomiej Zapart</b>.<p>Drugi etap kursu dotyczący technologii Meteor JS zostanie zrealizowany <b>przez firmę Vazco</b>, późniejszego pracodawcę najlepszych uczestników.</p>
        </div>

    </div>

    <br/>
    <div class="row">
        <div class="col-xs-12">
            <p>
                <b>Kurs jest prowadzony online</b>, nagrywany i udostępniany do ponownego odtworzenia, dodatkowo uczestnicy będą pracować na wspólnym repozytorium kodu i tworzyć na nim zadania po każdej sesji kursu a nawet symulowane mikro projekty przygotowujące uczestników do pracy programisty w rzeczywistych warunkach.
            </p>
            <p>Dodatkowo uczestnicy kursu zostaną zaproszeni na sesje wykładowe o bazach danych, jako bonus za uczestnictwo w szkoleniu.</p>
        </div>
    </div>


   
   

</div>


