<div class="row" id="title">
    <div class="col-sm-9">
    </div>
    <div class="col-sm-3">
        <h2>Organizatorzy</h2>
    </div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-4">
		<div class="image-container">
			<img src="dane/vazco.jpg">
            <br /><br />
            <b>Vazco</b><br/>
            Dynamicznie rozwijająca się firma, działająca we Wrocławiu od 2008 roku, zajmująca się budową customowych portali w technologii Meteor dla klientów z całego świata.
            <br/><br />
            <button type="button" class="btn btn-success">WWW</button>  <button type="button" class="btn btn-success">E-MAIL</button>
		</div>
	</div>
	<div class="col-md-offset-2 col-md-4">
		<div class="image-container">
			<img src="dane/Bartek.png">
			<br><br />
            <b>Bartłomiej Zapart</b><br/>
			programista JavaScript, C# i PHP z dziesięcioletnim doświadczeniem komercyjnym w roli programisty m.in. w GG Network czy Microsoft.
            <br /><br />
            <button type="button" class="btn btn-success">WWW</button>  <button type="button" class="btn btn-success">E-MAIL</button>
		</div>
	</div>
</div>