<div class="row">
	<div class="col-md-offset-9 col-md-3">
		<h1>Organizatorzy</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-5">
		<div class="image-container">
			<img src="dane/vazco.png">
            <br /><br/><b>Vazco</b><br/>
            Dynamicznie rozwijaj¹ca siê firma, dzia³aj¹ca we Wroc³awiu od 2008 roku, zajmuj¹ca siê budow¹ customowych portali w technologii Meteor dla klientów z ca³ego œwiata.
            <br/><br />
            <button type="button" class="btn btn-success">WWW</button>  <button type="button" class="btn btn-success">E-MAIL</button>
		</div>
	</div>
	<div class="col-md-offset-1 col-md-4">
		<div class="image-container">
			<img src="dane/Bartek.png">
			<br><br />
            <b>Bart³omiej Zapart</b><br/>
			programista JavaScript, C# i PHP z dziesiêcioletnim doœwiadczeniem komercyjnym w roli programisty m.in. w GG Network czy Microsoft.
            <br /><br />
            <button type="button" class="btn btn-success">WWW</button>  <button type="button" class="btn btn-success">E-MAIL</button>
		</div>
	</div>
</div>