
@model DBAccessResourceServer.Models.DbModel


@{
    ViewBag.Title = "DbSaveResult";
}

<h2>Saved!</h2>

@using (Html.BeginForm("Index", "DbHub", FormMethod.Get))
{
   
    
    
    <input type="Submit" value="Wroć" />
}