@model Phoenix.Front.Areas.TeamLeasing.Models.TeamSearchingViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="search-table-container">
    @{
        Html.RenderPartial("_TeamSearching", Model);
    }
</div>

<div id="search-results-container">
    @{

        Html.RenderPartial("_SearchResults", Model);
    }
</div>





