<!DOCTYPE html>
<html lang="pl_PL">
    <head>
        <meta charset="utf-8" />
        <title>Hello site!</title>
		<link rel="stylesheet" href="lib/style.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>

		<div class="container">
  <div class="row">
    <div class="col-sm-6">
	<p class="centeredText">JavaScript</p>
		<ul>
			 <li>najczęściej stosowany język webowy</li>
			 <li>odskocznia do AngularJS, Backbone, Ember, Meteor</li>
			 <li>pracuj na front-end oraz back-end</li>
		</ul> 
	<p class="centeredText">Zalety</p>
		<ul>
			 <li>poznaj ten szeroko używany język</li>
			 <li>powtórz sobie standardy, uporządkuj wiedzę</li>
		</ul> 		
    </div>
    <div class="col-sm-6">
      <p class="centeredText">METEOR JS</p>
	  <ul>
			 <li>super nowoczesna technologia</li>
			 <li>rozwiązanie full-stack</li>
			 <li>pracuj na front-end oraz back-end</li>
		</ul> 
	<p class="centeredText">Zalety</p>
		<ul>
			 <li>poznaj ten szeroko używany język</li>
			 <li>powtórz sobie standardy, uporządkuj wiedzę</li>
		</ul> 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <p class="centeredText"></p>
<div class="col-sm-1">
	</div>
    </div>
    </div>	
</div>