<!DOCTYPE html>
<html lang="pl_PL">
    <head>
        <meta charset="utf-8" />
        <title>Hello site!</title>
		<link rel="stylesheet" href="lib/style.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>

		<div class="container">
		<div class="grayBackgroung">
  <div class="row">
    <div class="col-sm-9">
    </div>
    <div class="col-sm-3">
      <h1>O KURSIE</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <p class="centeredText">Pasjonujesz się najnowszymi technologiami IT? Chciałbyś dowiedzieć się jak pracuje programista w profesjonalnym zespole? A może już programujesz ale interesuje Cię inwestycja w technologię o wzrastającej popularności i popycie na rynku pracy? 
Ta oferta jest dla Ciebie!</p>
<div class="col-sm-1">
	</div>
    </div>
    </div>
	</div>
	
	<div class="row">
		<div class="col-sm-6">
			<div class="image-container">
				<img src="dane/2-1.jpg">
				</br>
				<a href="https://docs.google.com/document/d/1T5TUKZe_htNUfvXrzXByVjLTT-DH55oE2RE1CL1Ijj8/edit">AGENDA</a>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="image-container">
				<img src="dane/2-2.jpg">
				
				<a href="https://docs.google.com/document/d/1T5TUKZe_htNUfvXrzXByVjLTT-DH55oE2RE1CL1Ijj8/edit">AGENDA</a>
			</div>
		</div>
	</div>
</div>