<section id="about-section">
    <div class="container">
        <div class="row text-justify">
            <div class="col-sm-12" data-scroll-reveal>
                <h2 class="blackColor headers">O kursie</h2>

                <p>
                    Pasjonujesz się najnowszymi technologiami IT? Chciałbyś dowiedzieć się, jak pracuje programista w profesjonalnym zespole?
                    A może już programujesz, ale interesuje Cię inwestycja w technologię o wzrastającej popularności i popycie na rynku pracy?
                    Ta oferta jest dla Ciebie!
                </p>
            </div>

        </div>

        <br />
        <div class="row">
            <div class="col-sm-6" data-scroll-reveal>
                <img src="~/images/logo-c%23-asp-net_0.jpg" class="img-responsive center-block" alt=".Net logo" />
                <h3 class="text-transform-none">Cechy:</h3>
                <ul data-scroll-reveal>
                    <li>nowoczesny, obiektowo orientowany język programowania</li>
                    <li>głęboka integracja z systemem  Windows i platformą Microsoft .Net, otwartość na inne technologie dzięki DLR</li>
                    <li>silna alternatywa dla Javy, posiadająca dodatkowo takie mechanizmy jak delegaty, extension methods i konsekrentnie LINQ</li>
                </ul>

                <h3 class="text-transform-none">Zalety:</h3>
                <ul data-scroll-reveal>
                    <li>opanowanie składni opartej na języku C# ułatwia naukę innych technologii (C++, PHP, Java) w przyszłości </li>
                    <li>duże zapotrzebowanie na rynku pracy</li>
                    <li>umiejętność ekspolatowania rozwiązań ofertowanych przez technologię C# i .NET Framework pozwala na budowanie architektur najbardziej złożonych aplikacji</li>
                    <li>jedna z najdynamiczniej rozwijających się technologii określająca nowe standardy tworzenia oprogramowania nieobecne w innych technologiach</li>
                </ul>
                <br />
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#c-sharp-modal">AGENDA</button>
                </div>

            </div>

            <div class="col-sm-6" data-scroll-reveal>
                <img src="~/images/3d_php-logo.jpg" class="img-responsive center-block" alt="PHP logo" />
                <h3 class="text-transform-none">Cechy:</h3>
                <ul data-scroll-reveal>
                    <li>język skryptowy, działający po stronie serwera</li>
                    <li>tworzenie dynamicznych stron WWW</li>
                    <li>komunikacja z bazami danych i wieloma innymi technologiami wsparcia</li>
                </ul>
                <h3 class="text-transform-none">Zalety:</h3>
                <ul data-scroll-reveal>
                    <li>bardzo popularna darmowa technologia z relatywnie niską barierą wejścia</li>
                    <li>możliwość zrealizowania projektu niskobudżetowego przygotowanego na ewentualny sukces na rynku</li>
                    <li>przystępna dla początkującego programisty (uproszczenia składni)</li>
                    <li>umożliwia również tworzenie rozbudowanych i zaawansowanych aplikacji (jak choćby Facebook :-) )</li>
                </ul>
                <br />
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#php-modal">AGENDA</button>
                </div>
            </div>
        </div>

        <div class="row">
         
        </div>
       
    </div>


    <br /><br />
    <br /><br />
    <div class="row text-center" style="font-size:25px;">
        <div class="col-sm-12">
            <p>KODUJ W <span class="greenTemplateColor">C#</span> LUB <span class="greenTemplateColor">PHP</span>, ZDOBĄDŹ POSADĘ <span class="greenTemplateColor">PROGRAMISTY!</span>!</p>
        </div>

    </div>


    <!-- MODALS-->
    <!--MODAL C#-->
    <div id="c-sharp-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title">Poglądowa agenda C#</h4>
                </div>
                <div class="modal-body" style="font-size: large;">

                    <ol>
                        <li>
                            <b>Podstawy</b>
                            <ul>
                                <li>Pojecie klasy, obiektu, statyczność vs instancja</li>
                                <li>Kwalifikatory dostępu do klasy, obiektu, ich zachowanie</li>
                                <li>Dziedziczenie i kwalifikatory dostępu</li>
                                <li>Abstract, virtual, override, sealed, new</li>
                                <li>Typy referencyjne i wartościowe, wzorzec projektowy chain of responsibility</li>
                                <li>Interfejsy</li>
                                <li>Przeciążenia</li>
                                <li>Dziedziczenie vs kompozycja</li>
                                <li>Delegaty, lambda, generics</li>
                                <li>Extension methods</li>
                                <li>Using, idisposable</li>
                                <li>Struct i enum</li>

                            </ul>
                        </li>

                        <li>
                            <b>Framework</b>
                            <ul>
                                <li>String operations</li>
                                <li>Interfaces – ilist, ienumerable, idisposable, ICloneable</li>
                                <li>IO</li>
                                <li>Collections, arrays</li>
                                <li>Delegaty - Func<>, Action, Predicate</li>
                                <li>Dictionary, List, inne Generics</li>
                                <li>LINQ</li>
                                <li>Tpl, Async, Await, Taskfactory</li>
                                <li>Atrybuty</li>
                                <li>Xml</li>
                                <li>Refleksja</li>
                            </ul>
                        </li>

                        <li>

                            <b>Wzorce projektowe</b>

                            <ul>

                                <li>SOLID</li>
                                <li>Singleton</li>
                                <li>Polimorfizm</li>
                                <li>Strategia</li>
                                <li>Fabryka</li>
                                <li>Łańcuch zależności</li>
                                <li>Wstrzykiwanie zależności</li>
                                <li>MVC</li>
                                <li>TDD(nunit, mock, stub)</li>

                            </ul>
                        </li>

                        <li>
                            <b>MVC</b>

                            <ul>
                                <li>Protokół http</li>
                                <li>Model</li>
                                <li>Widok</li>
                                <li>Kontroler</li>
                                <li>Komunikacja</li>
                                <li>Routing</li>
                                <li>Razor vs aspx</li>
                                <li>Grid</li>
                                <li>Security</li>
                                <li>Web api</li>
                            </ul>

                        </li>

                        <li>
                            <b>	Windows Service</b>
                        </li>
                        <li>
                            <b>WCF</b>
                            <ul>
                                <li>Contract</li>
                                <li>Proxy</li>
                            </ul>
                        </li>

                        <li>
                            <b>Bazy danych</b>
                            <ul>
                                <li>SQL</li>
                                <li>ADO</li>
                                <li>Clustering</li>
                                <li>Sharding</li>
                                <li>Polimorficzny db access</li>
                                <li>Entity framework, pojęcie ORM</li>
                                <li>Własne polimorficzne generyczne rozwiązanie dostępu do bazy danychy</li>
                            </ul>
                        </li>

                        <li>
                            <b>JavaScript</b>
                            <ul>
                                <li>JSON</li>
                                <li>Ajax</li>
                                <li>Jquery</li>
                                <li>Prototypowe dziedziczenie</li>
                                <li>Progressive enhancement</li>
                                <li>Operacje na domie</li>
                                <li>Walidacje formularzy</li>
                                <li>Pojęcie SPA (Single Page Apllication)</li>
                            </ul>
                        </li>

                        <li>
                            <b>SQL</b>
                            <ul>

                                <li>CRUD, DDL, DML</li>
                                <li>Joins</li>
                                <li>No SQL (memcache, tyrant, redis, mongoDB, casandra)</li>
                                <li>Join vs sharding</li>
                                <li>Wydajność</li>
                                <li>Sphinx</li>
                                <li>Softbool</li>
                            </ul>
                        </li>

                    </ol>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                </div>
            </div>


        </div>

    </div>

    <!-- /MODAL C#-->
    <!-- MODAL PHP-->

    <div id="php-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title">Agenda PHP</h4>
                </div>
                <div class="modal-body" style="font-size: large;">

                    <ol>
                        <li>
                            Podstawy
                            <ul>
                                <li>Pojęcie zmiennej</li>
                                <li>Typy danych, tablice</li>
                                <li>Operatory</li>
                                <li>Instrukcje warunkowe</li>
                                <li>Pętle</li>
                                <li>Algorytmika</li>
                                <li>Funkcje</li>
                                <li>Programowanie strukturalne, zasięg zmiennych</li>
                                <li>Require, zawieranie plików</li>
                                <li>Funkcje biblioteczne PHP – przegląd</li>
                                <li>Operacje na plikach/katalogach</li>
                            </ul>
                        </li>

                        <li>

                            Obiektowość

                            <ul>
                                <li>Pojęcie klasy</li>
                                <li>Obiekt</li>
                                <li>Modyfikatory dostępu</li>
                                <li>Statyczność</li>
                                <li>Interfejsy</li>
                                <li>Klasy abstrakcyjne</li>
                                <li>Konstruktory</li>
                                <li>Dziedziczenie</li>
                                <li>Przesłonienie, sposób na przeciążenie w PHP</li>
                                <li>Polimorfizm</li>
                                <li>Typy referencyjne</li>
                                <li>Kompozycja, enkapsulacja</li>
                            </ul>
                        </li>

                        <li>

                            Protokół http

                            <ul>
                                <li>Wyjaśnienie komunikacji klient serwer</li>
                            </ul>
                        </li>
                        <li>

                            Bezpieczeństwo

                            <ul>
                                <li>Session fixation</li>
                            </ul>
                        </li>
                        <li>

                            Wzorce projektowe

                            <ul>
                                <li>Strategia</li>
                            </ul>
                        </li>
                        <li>

                            MVC

                            <ul>
                                <li>Koncepcja</li>
                            </ul>
                        </li>
                        <li>

                            Architektury systemow przeznaczonych do wytrzymywania duzego obciążenia, technologie wsparcia

                            <ul>
                                <li>Worker</li>
                            </ul>
                        </li>
                        <li>

                            Systemy skalowalne

                            <ul>
                                <li>Testowanie jednostkowe, integracyjne, obciążeniowe, nagios</li>
                            </ul>
                        </li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
        <!-- /MODAL PHP-->
        <!-- /MODALS-->
    </div>

</section>
