<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Bezpłatne i płatne kursy programowania w C#, Java, Python, PHP, JS i SQL">
	<meta name="author" content="Toci Team, tociszkolenia@gmail.com">
	<title>Bezpłatne i płatne kursy programowania w C#, JavaScript, Java, Python, PHP, SQL i innych technologiach</title>
	<link rel="shortcut icon" href="images/favicon.png">
	<!--loader-->

	<link href="~/css/loader.css" rel="stylesheet">



	<!-- Main Stylesheet -->

	<link href="~/css/faq-style.css" rel="stylesheet">
	<link href="~/css/style.css" rel="stylesheet">
	<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link href="~/css/embed-responsive.css" rel="stylesheet">


	<link href="~/css/owl.carousel.min.css" rel="stylesheet">
	<link href="~/css/owl.theme.default.min.css" rel="stylesheet">


	<link href='http://fonts.googleapis.com/css?family=Exo&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernize")
</head>

</html>

