<section id="faq-section" class="backgroundGreenTemplate" style="background-color: rgba(3, 104, 140, 0.99);">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" data-scroll-reveal>


                <h2 class="whiteColor headers">FAQ</h2>

                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#faq1">
                                Q: Do kogo skierowany jest kurs?
                                A: Do każdego, w miarę płynnie obsługującego komputer.
                            </a>
                        </h4>
                    </div>

                    <div id="faq1" class="panel-collapse collapse">


                    </div>
                    <div id="faq1" class="panel-collapse collapse">
                        <div class="panel-body">
                            Prowadzimy wiele kursów w kilku technologiach, stąd nie ma jednej grupy docelowej. Każdy kandydat musi mieć pewne predyspozycje, weryfikowane
                            na rozmowach rekrutacyjnych. Nie ma bariery wieku, płci czy lokalizacji, ale wskazne jest obycie z komputerem, językiem angielskim,
                            a dla kursów wyższych niż podstawowy również wiedza ze świata programowania weryfikowana na rozmowie.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#faq2">
                                <!--data-parent="#accordion"-->
                                Jak przebiega rekrutacja na kurs?
                            </a>
                        </h4>
                    </div>
                    <div id="faq2" class="panel-collapse collapse">
                        <div class="panel-body">
                            Kontaktujemy się głównie wiadomościami e-mail, rozmowa odbywa się przy pomocy programów typu TeamViewer lub Join.me, rekrutujący pokazuje fragmenty kodu lub inne zadania i odpowiadamy na pytania bądź prowadzimy dyskusję.
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#faq3">
                                Czy kursy oferowane jako bezpłatne są absolutnie bezpłatne?
                            </a>
                        </h4>
                    </div>
                    <div id="faq3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Kursy oferowane jako bezpłatne to te, które pozwalają nam rekomendować po kursie do zatrudnienia na stanowisku programisty w firmach w Polsce i na świecie. Najlepiej najzwyczajniej robić kurs toci <label(></label(>. Te kursy są bezpłatne, ale wymagają przejścia rekrutacji i podpisania umowy, sama umowa zawiera naturalnie kary umowne za jej niedotrzymanie, ale dotrzymanie umowy nie powinno stanowić dla kursantów problemu.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#faq4">
                                W jakich dniach odbywać się będzie kurs?
                            </a>
                        </h4>
                    </div>
                    <div id="faq4" class="panel-collapse collapse">
                        <div class="panel-body">
                            Najprawdopodobniej kurs będzie prowadzony w sobotę lub niedzielę. Uczestnicy mogą zadecydować inaczej większością głosów po sformułowaniu grupy.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#faq5">
                                Co muszę mieć ze sobą na warsztatach?
                            </a>
                        </h4>
                    </div>
                    <div id="faq5" class="panel-collapse collapse">
                        <div class="panel-body">
                            Dobre połączenie z internetem<br />join.me<br /> Odpowiednie IDE<br /> Słuchawki z mikrofonem <br />Chęci do nauki :)
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#faq6">
                                Jakie doświadczenie muszę mieć by aplikować na kurs?
                            </a>
                        </h4>
                    </div>
                    <div id="faq6" class="panel-collapse collapse">
                        <div class="panel-body">
                            W zależności od poziomu zaawansowania<br />
                            Przy poziomie podstawowym nie wymagamy doświadczenia - weryfikujemy predyspozycje. Wszystkiego innego Cię nauczymy.
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#faq7">
                                Ile kosztuje kurs?
                            </a>
                        </h4>
                    </div>
                    <div id="faq7" class="panel-collapse collapse">
                        <div class="panel-body">
                            Kurs jest darmowy, naszym wynagrodzeniem jest bonus za polecenie.
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#faq8">
                                Ile osób zostanie przyjętych na kurs?
                            </a>
                        </h4>
                    </div>
                    <div id="faq8" class="panel-collapse collapse">
                        <div class="panel-body">
                            Mamy doświadczenie w pracy z grupami sięgającymi 80 osób, oraz przeświadczenie, że możliwe jest skalowanie kursu nawet dla 200 uczestników, w szczególności w C#.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#faq9">
                                Czy otrzymam zaświadczenie po ukończeniu kursu?
                            </a>
                        </h4>
                    </div>
                    <div id="faq9" class="panel-collapse collapse">
                        <div class="panel-body">
                            Dostaniesz referencje oraz będziesz polecany naszą rekomendacją do renomowanych firm IT.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#faq12">
                                Jakie można uzyskać wynagrodzenie?
                            </a>
                        </h4>
                    </div>
                    <div id="faq12" class="panel-collapse collapse">
                        <div class="panel-body">
                            Stawka jest uzależniona od umiejętności i doświadczenia.
                            Osoby koncentrujące się na legitymowaniu się wiedzą, która zostanie zweryfikowana w praktyce na etacie mają znacznie większe szanse na aprecjację pracodawców w branży.
                            Przy każdej konkretnej rekomendacji mamy świadomość Twoich widełek i widełek pracodawcy. Przy gotowości wyjazdu za granicę możemy zaoferować atrakcyjniejsze warunki zarobkowe.
                            Szacujemy, że najmniejsza możliwa kwota na start to 3500 pln netto dla osób, które nienajlepiej przeszły bądź przejdą kurs lub samą rozmowę o pracę. Jednak po kursie toci po 3 miesiącach próby spokojnie
                            przeskoczysz na 5k netto !
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>
