

<nav class="navbar-collapse collapse">

    <ul class="nav navbar-nav navbar-right">

        <li><a class="page-scroll" id="homeClick" href="#homepage">Start</a></li>
        <li class="nav-item dropdown">
            
            <!--Tutaj podpiąć odpowiednie podstrony-->
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Oferta
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#contact-section">Programy</a>
                <a class="dropdown-item" href="#contact-section">Szkolenia</a>
                <!--    <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>      -->
            </div>
        </li>
        
        </li>
        <li><a class="page-scroll" id="howWeWorkClick" href="#howWeWork-section">Jak pracujemy?</a></li>

        <!--   <li><a class="page-scroll" id="applyClick" href="#apply-section">Aplikuj</a></li>    -->
        <li><a class="page-scroll" id="contactClick" href="#contact-section">Kontakt</a></li>
        <!--    <li><a class="page-scroll" id="trainingClick" href="#trainings-section">Szkolenia</a></li>     -->
    </ul>
</nav>