

<nav class="navbar-collapse collapse">

    <ul class="nav navbar-nav navbar-right">

        <li><a class="page-scroll" id="homeClick" href="#homepage">Start</a></li>
        <li><a class="dropdown" id="aboutClick" href="#about-services-section">Oferta</a>
            <ul class="dropdown-menu>
                <li><a class="page-scroll" id="homeClick" href="#homepage">Praca</a></li>
                <li><a class="page-scroll" id="homeClick" href="#homepage">Kursy</a></li>
            </ul>
        
        </li>
        <li><a class="page-scroll" id="howWeWorkClick" href="#howWeWork-section">Jak pracujemy?</a></li>

        <!--   <li><a class="page-scroll" id="applyClick" href="#apply-section">Aplikuj</a></li>    -->
        <li><a class="page-scroll" id="contactClick" href="#contact-section">Kontakt</a></li>
        <!--    <li><a class="page-scroll" id="trainingClick" href="#trainings-section">Szkolenia</a></li>     -->
    </ul>
</nav>