

<nav class="navbar-collapse collapse">

    <ul class="nav navbar-nav navbar-right">
        <li><img src="images/toci-logo.png" alt="{TOCI} szkolenia z programowania" class="img-responsive logo" style="float:left" /></li>
        <li><a class="page-scroll" id="homeClick" href="#homepage">Start</a></li>
        <li><a class="page-scroll" id="offerClick" href="#about-services-section">Oferta</a></li>
        <li><a class="page-scroll" id="howWeWorkClick" href="#howWeWork-section">Jak pracujemy?</a></li>
        <li><a class="page-scroll" id="aboutUsClick" href="#aboutus-section">O nas</a></li>
        <li><a class="page-scroll" id="portfolioClick" href="#portfolio-section">Portfolio</a></li>

      
           
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Szkolenia toci
            </a>


            <div class="dropdown-content">
                <a class="page-scroll dropdown-item" id="aboutClick" href="#about-section">Oferta</a>
                <a class="page-scroll dropdown-item" id="howItWorksClick" href="#howItWorks-section">Jak to działa?</a>
                <a class="page-scroll dropdown-item" id="organisersClick" href="#organisers-section">Prelegenci</a>
                <a class="page-scroll dropdown-item" id="organisersClick" href="#students-section">Nasi kursanci</a>
                <a class="page-scroll dropdown-item" id="videoClick" href="#video-section">Video</a>
                <a class="page-scroll dropdown-item" id="faqClick" href="#faq-section">FAQ</a>
                <a class="page-scroll dropdown-item" id="applyClick" href="#apply-section">Aplikuj</a>
            </div>
        </li>



        <!--   <li><a class="page-scroll" id="applyClick" href="#apply-section">Aplikuj</a></li>    -->
        <li><a class="page-scroll" id="contactClick" href="#contact-section">Kontakt</a></li>
        <!--    <li><a class="page-scroll" id="trainingClick" href="#trainings-section">Szkolenia</a></li>     -->
    </ul>
</nav>