<section id="trainings-section">
<nav class="navbar-collapse collapse">

	<ul class="nav navbar-nav navbar-right">

		<li><a class="page-scroll" id="homeClick" href="#homepage">Start</a></li>
		<li><a class="page-scroll" id="aboutClick" href="#about-section">Oferta</a></li>
		<li><a class="page-scroll" id="howItWorksClick" href="#howItWorks-section">Jak to działa?</a></li>
		<li><a class="page-scroll" id="organisersClick" href="#organisers-section">Prelegenci</a></li>
		<li><a class="page-scroll" id="organisersClick" href="#students-section">Nasi kursanci</a></li>
		<li><a class="page-scroll" id="videoClick" href="#video-section">Video</a></li>
		<li><a class="page-scroll" id="faqClick" href="#faq-section">FAQ</a></li>
		<li><a class="page-scroll" id="applyClick" href="#apply-section">Aplikuj</a></li>
		<li><a class="page-scroll" id="contactClick" href="#contact-section">Kontakt</a></li>
	</ul>
</nav>
</section>