<section id="howItWorks-section" class="alt-background">
    <div class="container">
        <div class="row text-justify">

            <div class="col-sm-12" data-scroll-reveal>
                <h2 class="blackColor headers">Jak to działa?</h2>
                <p>
                    Kursy prowadzone są przez Andrzeja Żogałę - abiturienta szkolania toci hornets, toci porsche, toci newhope i toci locust oraz

                    Bartłomieja Zapart - programistę z 16 letnim doświadczeniem, które zdobywał w wielu prestiżowych firmach - m.in. Microsoft, Gadu-Gadu, Unit4, Smt (Intive), Euvic, NES.
                </p>
            </div>
            <br />


        </div>
        <br />
        <div class="row">
            <div class="col-sm-6" data-scroll-reveal>
                <h3 style="text-transform: none;">Oferujemy:</h3>
                <ul>
                    <li>intensywny kurs przygotowujący do pracy programisty</li>
                    <li>dla najlepszych płatne staże oraz pracę</li>
                    <li>opracowanie ścieżki indywidualnego rozwoju zawodowego</li>
                </ul>
            </div>

            <div class="col-sm-6" data-scroll-reveal>
                <h3 style="text-transform: none;">Oczekujemy:</h3>
                <ul>

                    <li>determinacji, pracowitości, ambicji i sumienności</li>
                    <li>komputera z dostępem do internetu oraz słuchawek z mikrofonem</li>
                    <li>co najmniej podstawowej umiejętności komunikacji w języku angielskim</li>
                    <li>w przypadku kursów wyższych niż podstawowy na kurs prowadzona jest rozmowa kwalifikacyjna weryfikująca bazę wiedzy do kursu np. średniozaawansowanego</li>
                </ul>
            </div>

        </div>
        <br />
        <div class="row text-justify">
            <div class="col-sm-6 etapy" data-scroll-reveal>

                <!--<h2 class="greenTemplateColor">I Etap</h2>-->
                <h3 class="blackColor">Kurs podstawowy</h3>
                <p>
                    Kurs podstawowy skierowany jest do osób rozpoczynających swoją przygodę z programowaniem całkowicie od podstaw.
                    Potencjalni kandydaci będą uczyć się podstaw programowania w języku c# przez okres dwóch miesięcy. W tym wypadku ważna jest systematyczna praca i rozwój portfolio, a nastepnie najlepiej uczestnictwo w kursie średnio - zaawansowanym.
                    Możliwość kontynuacji kursu na poziomie średnio - zaawansowanym (w C#, Java LUB PHP, Python) z perspektywą zatrudnienia jako Middle Developer - po kursie podstawowym z całą pewnością dostaniesz etat juniora!
                </p>

            </div>

            <div class="col-sm-6">

            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-6" data-scroll-reveal>
                <img id="arrow-right" src="~/images/arrow-right.png" style="float:right;" />
            </div>
        </div>




        <div class="row text-justify">

            <div class="col-sm-offset-6 col-sm-6 etapy" data-scroll-reveal>
                <!--<h2 class="greenTemplateColor">II Etap</h2>-->
                <h3 class="blackColor" style="">Kurs średnio - zaawansowany</h3>
                <p>
                    Został przewidziany dla osób posiadających podstawową wiedzę programistyczną. Kandydat będzie mógł wybrać swoją drogę rozwoju i język programowania spośród PHP, Python lub C#, Java.
                    Oczekuję od firmy zatrudniającej bonusu za polecenie - trzeba wysyłać CV za moim pośrednictwem - wtedy otrzymuję bonus za Twoje polecenie stanowiący zapłatę za kurs!
                </p>
            </div>

            <div class="row text-center">
                <div class="col-sm-offset-6 col-sm-6" data-scroll-reveal>
                    <img id="arrow-left" src="~/images/arrow-left.png" style="float:left;" />
                </div>
            </div>


            <div class="row text-justify">
                <div class="col-sm-6" data-scroll-reveal>
                    <p>
                        <strong>Kursy są prowadzone online</strong>, nagrywane i udostępniane do ponownego odtworzenia, dodatkowo uczestnicy będą pracować
                        na wspólnym repozytorium kodu i tworzyć na nim zadania po każdej sesji kursu, a nawet symulowane mikro projekty
                        przygotowujące uczestników do pracy programisty w rzeczywistych warunkach - przy niekompletnych i niejasnych specyfikacjach oraz nieadekwatnych
                        architekturach ;-).
                    </p>
                </div>
            </div>
            <br />
            <br />

            <div class="row text-justify">
                <div class="col-sm-12" data-scroll-reveal>
                    <p>
                        Dodatkowo uczestnicy kursu zostaną zaproszeni na sesje wykładowe o bazach danych, jako bonus za uczestnictwo w szkoleniu.
                    </p>
                </div>
            </div>

        </div>


    </div>
</section>
