<section id="about-services-section">

	<h2 class="blackColor headers">Usługi</h2>


	<div class ="service">
	    <img src="images/toci-logo.png" alt="{TOCI} szkolenia z programowania" class="img-responsive logo" style="float:left" />
	    <p>
	        Zajmujemy się tworzeniem oprogramowania dla klientow indywidualnych i biznesowych. Biorac pod uwage nasze kilkunastoletnie doswiadczenie w branzy informatycznej
	        w sposob elastyczny realizujemy rozne formy partnerstwa, ktore najbardziej odpowiadaja naszym klientom. 

	        Koncentrujemy sie glownie na kreowaniu projektow - aplikacji zgodnie z ich przeznaczeniem funkcjonalnym, oraz 
	        staramy sie zapewnic mozliwie najwieksza niezawodnosc naszego oprogramowania. W razie wystapienia usterek zawsze jestesmy gotowi do ich usuniecia.    . 
	        
	        Nasza oferta obejmuje usługi informatyczne w zakresie:

	    </p>
	</div>

	<ul>
	    <li>Tworzenie i rozwój oprogramowania</li>
	    <li>Utrzymanie oprogramowania</li>
	    <li>Refaktoring oprogramowania</li>
	    <li>Konsulting </li>
	</ul>   
</section>