<section id="about-services-section">
    
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 text-center" data-scroll-reveal>
                <h2 class="blackColor headers">Usługi</h2>
            </div>
            <br />
        </div>

        <div class="row text-justify">
            <!--<img src="images/toci-logo.png" alt="{TOCI} szkolenia z programowania" class="img-responsive logo" style="float:left" />-->
            <p>
                Zajmujemy się tworzeniem oprogramowania dla klientow indywidualnych i biznesowych. Biorąc pod uwagę nasze kilkunastoletnie doświadczenie
                w branży informatycznej w sposób elastyczny realizujemy różne formy partnerstwa, które najbardziej odpowiadają naszym klientom.

                Koncentrujemy się głównie na kreowaniu projektów - aplikacji zgodnie z ich przeznaczeniem funkcjonalnym, oraz
                staramy się zapewnić możliwie najwiekszą niezawodność naszego oprogramowania. W razie wystąpienia usterek zawsze jesteśmy gotowi do ich usunięcia.

                Nasza oferta obejmuje usługi informatyczne w zakresie:

            </p>

            <div class="divs" style="font-size: 20px; margin: auto; padding-top: 10px;">
                <ul>
                    <li>Tworzenie i rozwój oprogramowania</li>
                    <li>Utrzymanie oprogramowania</li>
                    <li>Refaktoring oprogramowania</li>
                    <li>Konsulting </li>
                </ul>
            </div>
        </div>
    </div>

</section>
