<section id="about-services-section">

<h2 class="blackColor headers">Usługi</h2>


<div class ="service">
    <img src="images/toci-logo.png" alt="{TOCI} szkolenia z programowania" class="img-responsive logo" style="float:left" />
    <p>
        Zajmujemy się tworzeniem aplikacji dla klientow indywidualnych i biznesowych. Biorac pod uwage nasze kilkunastoletnie doswiadczenie w branzy informatycznej
        w sposob elastyczny realizujemy rozne formy partnerstwa, ktore najbardziej odpowiadaja naszym klientom. 

        Koncentrujemy sie glownie na kreowaniu projektow - aplikacji zgodnie z ich przeznaczeniem funkcjonalnym, oraz 
        staramy sie zapewnic mozliwie najwieksza niezawodnosc naszego oprogramowania. W razie wystapienia usterek zawsze jestesmy gotowi do ich usuniecia.    . 
        
        Nasza oferta obejmuje usługi informatyczne w zakresie:

    </p>
</div>

<ul>
    <li>Tworzenie i rozwój oprogramowania</li>
    <li>Utrzymanie oprogramowania</li>
    <li>Refaktoring oprogramowania</li>
    <li>Konsulting </li>
</ul>
    


<h3 class="text-transform-none">Zalety:</h3>
                <ul data-scroll-reveal>
                    <li>opanowanie składni opartej na języku C# ułatwia naukę innych technologii (C++, PHP, Java) w przyszłości </li>
                    <li>duże zapotrzebowanie na rynku pracy</li>
                    <li>umiejętność ekspolatowania rozwiązań ofertowanych przez technologię C# i .NET Framework pozwala na budowanie architektur najbardziej złożonych aplikacji</li>
                    <li>jedna z najdynamiczniej rozwijających się technologii określająca nowe standardy tworzenia oprogramowania nieobecne w innych technologiach</li>
                </ul>
                <br />
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#c-sharp-modal">AGENDA</button>
                </div>

            </div>

            <div class="col-sm-6" data-scroll-reveal>

                <h3 class="text-transform-none">Cechy:</h3>
                <ul data-scroll-reveal>
                    <li>język skryptowy, działający po stronie serwera</li>
                    <li>tworzenie dynamicznych stron WWW</li>
                    <li>komunikacja z bazami danych i wieloma innymi technologiami wsparcia</li>
                </ul>
                <h3 class="text-transform-none">Zalety:</h3>
                <ul data-scroll-reveal>
                    <li>bardzo popularna darmowa technologia z relatywnie niską barierą wejścia</li>
                    <li>możliwość zrealizowania projektu niskobudżetowego przygotowanego na ewentualny sukces na rynku</li>
                    <li>przystępna dla początkującego programisty (uproszczenia składni)</li>
                    <li>umożliwia również tworzenie rozbudowanych i zaawansowanych aplikacji (jak choćby Facebook :-) )</li>
                </ul>
                <br />
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#php-modal">AGENDA</button>
                </div>
            </div>
        </div>

       
 

    </div>


    </div>


   