<section id="organisers-section">



    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 text-center" data-scroll-reveal>
                <h2 class="blackColor headers">Prelegenci</h2>
            </div>
            <br />
        </div>




        <div class="row text-justify">

            <div class="col-sm-12" data-scroll-reveal>
                <!--6-->
                <img src="~/images/Bartek.png" class="img-responsive center-block" style="border-radius:5px;" />
                <h3 style="text-transform: none;">Bartłomiej Zapart</h3>
                <p>
                    Archietkt C#, Java, PHP, Python i JavaScript z 16 doświadczeniem komercyjnym w roli Senior Developera i Architekta m.in. w GG Network, Microsoft, SMT, Bitbag czy Unit4.
                    Dodatkowo 6 lat doświadczenia jako prelegent toci i gigabajty filmików z poprzednich szkoleń w chmurze do wglądu dla każdego kursanta Toci !
                </p>
                <br />
                <a href="mailto:tociszkolenia@gmail.com" class="btn btn-primary">e-mail</a>
                <!--</div>-->
                <h3 class="blackColor" data-scroll-reveal style="">Byli pracodawcy prelegenta</h3>
                <div class="col-sm-6" data-scroll-reveal>
                    <!--3-->
                    <img src="~/images/unit4-logo_partner-page_b.png" class="img-responsive center-block" style="border-radius:5px;" />
                    <img src="~/images/gg-logo-small.png" class="img-responsive center-block" style="border-radius:5px;" />
                    <img src="~/images/SMT-logo.png" class="img-responsive center-block" style="border-radius:5px;" />
                </div>
                <div class="col-sm-6" data-scroll-reveal>
                    <!--3-->
                    <img src="~/images/MSFT_logo_png.png" class="img-responsive center-block" style="border-radius:5px;" />
                    <img src="~/images/sygnity-logo.jpg" class="img-responsive center-block" style="border-radius:5px;" />
                    <img src="~/images/power-media-logo.jpg" class="img-responsive center-block" style="border-radius:5px;" />
                </div>
            </div>
        </div>

    </div> <!--</div>-->

    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 text-center" data-scroll-reveal>
                <h2 class="blackColor headers">Padawani</h2>
            </div>
            <br />
        </div>

        <div class="row text-justify">
            <div class="col-sm-12" data-scroll-reveal>
                <img src="~/images/Andrzej.jpg" class="img-responsive center-block" style="border-radius:5px;" width="174" height="174" />
                <h3 style="text-transform: none;">Andrzej Żogała</h3>
                <p>
                    Koks TOCI C#, .NET <br /><br />
                    Cześć, jestem Andrzej. Tajniki programowania zacząłem zgłębiać już od technikum. Obecnie rozwijam swoje umiejętności w C#. Zaczynałem od nauki asemblera przez C, C++, java.
                    Jestem absolwentem inżynierii biomedycznej i elektroniki i z tego również chętnie poprowadzę szkolenia.
                </p>
                <br />
                <h4>Referencje Sensei'a</h4>
                <p>
                    Andrzej to absolutnie najlepszy uczestnik iteracji toci hornets, jako jedyny wygłosił niezapomnianą definicję myślenia abstrakcyjnego, co więcej zrobił to jako jedyny uczestnik tej iteracji, a pytanie usłyszało 150 osób.
                    Z prawdziwą przyjemnościa chcę partycypować z nim w szkoleniach toci i bardzo się cieszę, że jesteśmy obecnie w spółce toci. Obecnie Andrzej wykazuje niesamowity talent w szybkim uczeniu się i przegania mnie w definiowaniu pojęć,
                    dlatego z przyjemnością oddaje mu głos i w wielkim skupieniu słucham jego definicji, nazwyając je żartobliwie syndromem przerostu myślenia abstrakcyjnego, co ma w moich ustach wydzwięk absolutnie pozytywny. Zachęcam wszystkich do uważnego wysłuchania
                    <a href="https://www.youtube.com/watch?v=6MHtj8KG374">krótkiego wykładu Andrzeja</a> jak Andrzej mówi o zagadnieniu virtual i override w c#.
                </p>
                <a href="mailto:toci.dev.team@gmail.com" class="btn btn-primary">e-mail</a>
            </div>


        </div>
    </div>
</section>
