<section id="aboutUs-section">



    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 text-center" data-scroll-reveal>
                <h2 class="blackColor headers">Programiści</h2>
            </div>
            <br />
        </div>




        <div class="row text-justify">

            <div class="col-sm-12" data-scroll-reveal>
                <!--6-->
                <img src="~/images/Bartek.png" class="img-responsive center-block" style="border-radius:5px;" />
                <h3 style="text-transform: none;">Bartłomiej Zapart</h3>
                <p>
                    Architekt C#, Java, PHP, Python i JavaScript z 16 doświadczeniem komercyjnym w roli Senior Developera i Architekta m.in. w GG Network, Microsoft, SMT, Bitbag czy Unit4.
                    Dodatkowo 6 lat doświadczenia jako prelegent toci.
                </p>
                <br />
                <a href="mailto:toci.dev.team@gmail.com" class="btn btn-primary">e-mail</a>
                <!--</div>-->
                <h3 class="blackColor" data-scroll-reveal style="">Byli pracodawcy</h3>
                <div class="col-sm-6" data-scroll-reveal>
                    <!--3-->
                    <img src="~/images/unit4-logo_partner-page_b.png" class="img-responsive center-block" style="border-radius:5px;" />
                    <img src="~/images/gg-logo-small.png" class="img-responsive center-block" style="border-radius:5px;" />
                    <img src="~/images/SMT-logo.png" class="img-responsive center-block" style="border-radius:5px;" />
                </div>
                <div class="col-sm-6" data-scroll-reveal>
                    <!--3-->
                    <img src="~/images/MSFT_logo_png.png" class="img-responsive center-block" style="border-radius:5px;" />
                    <img src="~/images/sygnity-logo.jpg" class="img-responsive center-block" style="border-radius:5px;" />
                    <img src="~/images/power-media-logo.jpg" class="img-responsive center-block" style="border-radius:5px;" />
                </div>
            </div>
        </div>

    </div> <!--</div>-->

    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 text-center" data-scroll-reveal>
                <h2 class="blackColor headers">Programiści kooperujący</h2>
            </div>
            <br />
        </div>

        <div class="row text-justify">
            <div class="col-sm-12" data-scroll-reveal>
                <img src="~/images/Andrzej.jpg" class="img-responsive center-block" style="border-radius:5px;" width="174" height="174" />
                <h3 style="text-transform: none;">Andrzej Żogała</h3>
                <p>
                    TOCI C#, .NET <br /><br />
                    5 letnie doświadczenie w Toci- specjalność język C#, dodatkowe języki: C, C++, JAVA, Cognex insight, LD, FBD, ST, Assembler
                </p>
                <br />
                <a href="mailto:toci.dev.team@gmail.com" class="btn btn-primary">e-mail</a>
            </div>


        </div>

        <div class="row text-justify">
            <div class="col-sm-12" data-scroll-reveal>
                <img src="~/images/Andrzej.jpg" class="img-responsive center-block" style="border-radius:5px;" width="174" height="174" />
                <h3 style="text-transform: none;">Jan Ćwirko</h3>
                <p>
                    Python, DJANGO  <br /><br />
                    1,5 roku doświadczenia komercyjnego w Python oraz pół roku w c# po kursie Toci
                </p>
                <br />
                <a href="mailto:toci.dev.team@gmail.com" class="btn btn-primary">e-mail</a>
            </div>


        </div>
        
        <div class="row text-justify">
            <div class="col-sm-12" data-scroll-reveal>
                <img src="~/images/Andrzej.jpg" class="img-responsive center-block" style="border-radius:5px;" width="174" height="174" />
                <h3 style="text-transform: none;">Artur Turański</h3>
                <p>
                    Dział HR  <br /><br />
                    Bezpośredni kontakt w celu umówienia spotkania
                </p>
                <br />
                <a href="mailto:toci.dev.team@gmail.com" class="btn btn-primary">e-mail</a>
            </div>


        </div>
    </div>
</section>

