
<div id="slides">
	<div class="slides-container">
		<img src="~/images/slider1.jpg" class="img-responsive" alt="home background" />
		<img src="~/images/slider2.jpg" class="img-responsive" alt="home background" />
		<img src="~/images/slider3.jpg" class="img-responsive" alt="home background" />
	</div>
	<div class="tint"></div>
	<div class="slider-offers text-center">

		<ul>
			<li>
				<div id="welcome-text1" class="text-center">
					<h3>Oprogramowanie dla klientów</h3>
					<h4></h4>
					<p><a class="btn btn-primary page-scroll" id="contactClick" href="#contact-section">Kontakt</a></p>
				</div>
			</li>
			<li>

			</li>
			<li>
				<div id="welcome-text2" class="text-center">
					<h3>Kompleksowa i </h3>
					<h4>Nowoczesna metodologia dostarczania rozwiązań</h4>
					<p><a class="btn btn-primary page-scroll" id="checkHomeClick" href="#howWeWork-section">Jak pracujemy</a></p>
				</div>
			</li>
			<li>
				<div id="welcome-text3" class="text-center">
					<h3>Różnorodne technologie wykonania oprogramowania</h3>
					<h4></h4>
					<p><a class="btn btn-primary page-scroll" id="coursesHomeClick" href="#about-services-section">Oferta</a></p>
				</div>
			</li>
		</ul>
	</div>

	<!-- SLIDER OFFERS START -->
	<!-- SLIDER OFFERS END -->


	<a class="arrow page-scroll" href="#about-section">
		<i class="fa fa-arrow-down fa-2x"></i>
	</a>
</div>
