<div id="slides">
    <div class="slides-container">
        <img src="~/images/slider1.jpg" class="img-responsive" alt="home background" />
        <img src="~/images/slider2.jpg" class="img-responsive" alt="home background" />
        <img src="~/images/slider3.jpg" class="img-responsive" alt="home background" />
    </div>
    <div class="tint"></div>
    <div class="slider-offers text-center">

        <ul>
            <li>
                <div id="welcome-text1" class="text-center">
                    <h3>BEZPŁATNA I PŁATNA NAUKA PROGRAMOWANIA</h3>
                    <h4>Nasi kursanci otrzymują zatrudnienie</h4>
                    <p><a class="btn btn-primary page-scroll" id="applyHomeClick" href="#apply-section">APLIKUJ</a></p>
                </div>
            </li>
            <li>

            </li>
            <li>
                <div id="welcome-text2" class="text-center">
                    <h3>REKRUTACJA TRWA</h3>
                    <h4>Partnerzy Toci poszukują pracowników</h4>
                    <p><a class="btn btn-primary page-scroll" id="checkHomeClick" href="#howItWorks-section">SPRAWDŹ</a></p>
                </div>
            </li>
            <li>
                <div id="welcome-text3" class="text-center">
                    <h3>Od zera do programisty !</h3>
                    <h4>Wejdź w świat programowania i zdobądź dobrze płatny zawód</h4>
                    <p><a class="btn btn-primary page-scroll" id="coursesHomeClick" href="#about-section">NASZE KURSY</a></p>
                </div>
            </li>
        </ul>
    </div>

    <!-- SLIDER OFFERS START -->
    <!-- SLIDER OFFERS END -->


    <a class="arrow page-scroll" href="#about-section">
        <i class="fa fa-arrow-down fa-2x"></i>
    </a>
</div>
