<section id="students-section" class="alt-background">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 text-center" data-scroll-reveal>
                <h2 class="blackColor headers" style="padding-bottom: 25px">Sukcesy abiturientów Toci</h2>
            </div>
            <br />
        </div>

        <!--<div class="row text-center ">-->
        <bodyCenter>

            <h3 style="text-transform: none;">Perła</h3>
            <p>
                Architekt oprogramowania w PHP i CEO w Bitbag, abiturient średnio zaawansowanego szkolenia toci eagles z PHP, gorący zwolennik Syliusa, były szef Sensei'a. Poniżej referencje sprzed lat:
                <div>
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fttooccii%2Fposts%2F1477853565870036&width=500" width="70%" height="206" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </p>
            <h3 style="text-transform: none;">Didi</h3>
            <p>
                Middle developer, organizatorka hackathonów piastcode w Opolu, zapalona programistka. Inicjatorka idei Toci, pomysłodawca wielu wyśmienitych inicjatyw toci. Poniżej referencje sprzed lat:
                <div>
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fttooccii%2Fposts%2F1475893286066064&width=500" width="70%" height="227" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </p>
            <h3 style="text-transform: none;">Tancerz</h3>
            <p>
                Totalny koks iteracji porsche, obecnie już junior developer w Krakowie.
            </p>
            <h3 style="text-transform: none;">Mazur</h3>
            <p>
                Wybitnie kreatywny heros iteracji porsche, organizator szkolenia newhope i dawca nowej nadziei w chwilach kryzysów sensei'a.
            </p>
            <h3 style="text-transform: none;">Terry</h3>
            <p>
                Autor wybitnej oceny 10 szkolenia hornets, codename con air. Terry ocenił to szkolenie jako lot sondą discovery. Obecnie node js developer, pomimo nauki na kursie średniozaawansowanym c# iteracji hornets.
            </p>
            <h3 style="text-transform: none;">Szyfrant</h3>
            <p>
                Doktorant Politechniki opolskiej z tematyki deep learningu, nauczyciel sensei'a w tej materii, wykładowaca programowania, prawdziwy koks iteracji starej gwardii i hornets.
            </p>
            <h3 style="text-transform: none;">Chmura</h3>
            <p>
                Twórca filii swojej firmy Porta Capena w Opolu i szef biura. Najbardziej wdzieczny abiturient szkolenia starej gwardii wybitnie chwalony w swojej firmie za projektowane architektury.
            </p>
            <h3 style="text-transform: none;">Patryk</h3>
            <p>
                Ninja iteracji hornets, najlepszy programista tej iteracji.
            </p>
            <h3 style="text-transform: none;">Adam W.</h3>
            <p>
                Koks hornets, wybitny specjalista, bardzo ambitny i szybko się uczy, przeganiał na szkoleniach sensei'a.
            </p>
            <h3 style="text-transform: none;">Łukasz</h3>
            <p>
                Absolwent iteracji jupiter, szkolenia z js. Niesamowicie inteligentny i utalentowany fanatyk programowania, obecnie expert machine learningu. Poniżej referencje sprzed lat:
                <div>
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fttooccii%2Fposts%2F1922729711382417&width=500" width="70%" height="247" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>

            </p>
            <h3 style="text-transform: none; ">Adam S.</h3>
            <p>
                Członek "sieradza" iteracji hornets, najmocniejszej subgrupy tego szkolenia, obecnie kapitalny programista, współautor kapitalnej logiki opartej na refleksji zadania domowego jednego ze szkoleń hornets, totalnie zaskoczył sensei'a wspólnie z Adamem W. i całym sieradzem.
            </p>
            <h3 style="text-transform: none;">Vernathic</h3>
            <p>
                Programistka iteracji hornets, świetna.
            </p>
            <h3 style="text-transform: none;">Mg</h3>
            <p>
                Współcześnie architekt oprogramowania w Atosie. Stara gwardia.
            </p>
            <h3 style="text-transform: none;">Duch</h3>
            <p>
                To on polecil Perle mój kurs, bardzo życzliwy człowiek. Naturalnie dobry programista.
            </p>
            <h3 style="text-transform: none;">Bogu</h3>
            <p>
                Świetny programista c#, abiturient teachers i chyba wszystkich kolejnych iteracji, mega zapalony, bardzo kumaty, prcownik KRakowskiego Comarchu w roli programisty.
            </p>
            <h3 style="text-transform: none;">Piekny</h3>
            <p>
                Kursant podestawowej iteracji PHP. Wybitnie inteligentny i utalentowany programista, właściciel pokażnej wypłaty jaki php mid, były wykładowca toci.
            </p>
            <h3 style="text-transform: none;">Radek M.</h3>
            <p>
                Najlepszy z wszystkich moich kursantów, zaczął karierę w Vazco w wieku 19 lat.
            </p>
            <h3 style="text-transform: none;">Radek H.</h3>
            <p>
                Obecnie mąż Didi, świetny programista.
            </p>
            <h3 style="text-transform: none;">Sito</h3>
            <p>
                Kosmiczny koks starej gwardii, autor niesamowitych architektur i wyśmienity programista, najlepszy ze starej gwardii.
            </p>
            <h3 style="text-transform: none;">Ponadto: </h3>
            <p>
                Amadeusz (hornets), Agata (hornets), Dysq (stara gwardia), Sołtys (stara gwardia), Mateusz S. (hornets, sieradz), Olek, Raiden, Santi, Paweł,  i wielu innych, wszyscy dziś świetnie programują.
            </p>
            <a href="https://www.facebook.com/ttooccii/posts_to_page/">Więcej referencji</a>
            <!--</div>-->
        </bodyCenter>
    </div>
</section>
