<section id="video-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 text-center" data-scroll-reveal>
                <h2 class="blackColor headers">Video</h2>
            </div>
            <br />
        </div>

        <br />
        <!-- OWL CAROUSEL START -->

        <div class="row" data-scroll-reveal>

            <div id="video-carousel" class="owl-carousel">

                <div class="item">

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="video1" class="embed-responsive-item" width="350" height="197" src="https://www.youtube.com/embed/lTRyFbfn09U" frameborder="0" allowfullscreen></iframe>

                    </div>

                    <div class="description">
                        <h3><b>Podstawy PHP</b></h3>
                        <p>Elementare podstawy PHP stanowiące wprowadzenie do zagadnienia programowania.</p>

                    </div>
                </div>

                <div class="item">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="350" height="197" src="https://www.youtube.com/embed/pq5t7JFFGOU" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="description">
                        <h3><b>Podstawy obiektowości część 1</b></h3>
                        <p>Wprowadzenie do programowania obiektowego w C# - klasa, obiekt, statyczność.</p>

                    </div>
                </div>

                <div class="item">

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="350" height="197" src="https://www.youtube.com/embed/QmTPgz9isHo" frameborder="0" allowfullscreen></iframe>

                    </div>
                    <div class="description">
                        <h3><b>Podstawy obiektowości część 2</b></h3>
                        <p>Wprowadzenie do programowania obiektowego w C# - modyfikatory dostępu.</p>

                    </div>
                </div>


                <div class="item">

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="350" height="197" src="https://www.youtube.com/embed/W414zlYHQgQ" frameborder="0" allowfullscreen></iframe>

                    </div>
                    <div class="description">
                        <h3><b>Podstawy obiektowości część 3</b></h3>
                        <p>Wprowadzenie do programowania obiektowego w C# - polimorfizm.</p>

                    </div>
                </div>

                <div class="item">

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="350" height="197" src="https://www.youtube.com/embed/gmSqt7-PHMQ" frameborder="0" allowfullscreen></iframe>

                    </div>
                    <div class="description">
                        <h3><b>Programowanie obiektowe</b></h3>
                        <p>Programowanie obiektowe - kompozycja, hermetyzacja.</p>

                    </div>
                </div>

                <div class="item">

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="350" height="197" src="https://www.youtube.com/embed/0LMbOzke_m4" frameborder="0" allowfullscreen></iframe>

                    </div>
                    <div class="description">
                        <h3><b>Programowanie obiektowe</b></h3>
                        <p>Wzorce projektowe - Inversion of Control na przykładzie Dependency Injection</p>

                    </div>
                </div>
            </div>
            <!-- OWL CAROUSEL END -->

            <div id="dots"></div>
        </div>
    </div>
</section>
